@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    font-family: 'Open Sans';
}


.cabecalho{
    width: 1280px;
    height: 110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B22D00;
    ;
    }

    .logo{
       padding-left: 25px;
    }
    
.menu{
    display: flex;
    list-style: none;
    padding-right: 30px;
}

 .menu a{
    text-decoration: none;
    color:white;
    font-size: 18px;
}

.menu2{
    display: flex;
    margin: 0 auto;
    background-color: #D9A300;
    ;
    height: 35px;
    list-style: none;
    width: 1240px;
    align-items: center;
}

.menu2 a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.menu2 li{
    padding-left: 25px;
    font-weight: 600;
    
}

.titulo01{
width: 1280px;
padding-left: 355px;
padding-top: 40px;
font-size: 40px;
}

.divisor{
    width: 1190px;
height: 0px;
border: 2px solid #000000;
}

.fotos{
 padding-left: 200px;
 display: flex;
  margin: 0 auto ;
  width: 1280px;
}

.titulo02{
    height: 35px;
    list-style: none;
    width: 0 auto ;
    align-items: center;
    display: flex;
    text-align: center;
}

.titulo02 a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding-left: 390px;  
    text-align: center;
}

.divisor2{
    width: 1190px;
    height: 0px;
    border: 2px solid #000000; 
}